[submodule "rgb-strict-types"]
	path = rgb-strict-types
	url = https://github.com/rgb-protocol/rgb-strict-types
[submodule "rgb-strict-encoding"]
	path = rgb-strict-encoding
	url = https://github.com/rgb-protocol/rgb-strict-encoding
[submodule "rgb-ascii-armor"]
	path = rgb-ascii-armor
	url = https://github.com/rgb-protocol/rgb-ascii-armor
[submodule "rgb-aluvm"]
	path = rgb-aluvm
	url = https://github.com/rgb-protocol/rgb-aluvm
[submodule "rgb-consensus"]
	path = rgb-consensus
	url = https://github.com/rgb-protocol/rgb-consensus
[submodule "rgb-ops"]
	path = rgb-ops
	url = https://github.com/rgb-protocol/rgb-ops
[submodule "rgb-api"]
	path = rgb-api
	url = https://github.com/rgb-protocol/rgb-api
[submodule "rgb-schemas"]
	path = rgb-schemas
	url = https://github.com/rgb-protocol/rgb-schemas
[submodule "altered_submodules/rgb-api"]
	path = altered_submodules/rgb-api
	url = https://github.com/rgb-protocol/rgb-api
